# Created by .ignore support plugin (hsz.mobi)
venv
src/boto3/mails
.env
docs
pybasic-docs
src/PyKakasi/data
src/building-deep-learning/chapter2/__pycache__
src/building-deep-learning/chapter3/__pycache__
*.gz
*.pkl
src/building-deep-learning/chapter4/__pycache__
src/building-deep-learning/chapter5/__pycache__
