aniso8601==7.0.0
autopep8==1.5.2
boto3==1.13.9
botocore==1.16.9
docutils==0.15.2
entrypoints==0.3
flake8==3.7.9
graphene==2.1.8
graphql-core==2.3.2
graphql-relay==2.0.1
jmespath==0.10.0
joblib==0.15.1
mccabe==0.6.1
numpy==1.18.4
promise==2.3
pycodestyle==2.5.0
pycrypto==2.6.1
pyflakes==2.1.1
python-dateutil==2.8.1
python-dotenv==0.13.0
Rx==1.6.1
s3transfer==0.3.3
scikit-learn==0.23.1
scipy==1.4.1
six==1.14.0
threadpoolctl==2.1.0
urllib3==1.25.9
